<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.digital.dao.AddMoneyDAO">

	<insert id="creatPetition" parameterType="com.digital.pojo.AddMoney">
		insert into addMoney (state,id,status,name,money,adate)
		values(#{state},#{id},#{status},#{name},#{money},#{adate})
	</insert>
	
	<select id="getAllRequest" resultType="com.digital.pojo.AddMoney">
		select * from addMoney order by aid desc
	</select>

	<select id="getAddMoneyByAid" parameterType="int" resultType="com.digital.pojo.AddMoney">
		select * from addMoney where aid=#{aid}
	</select>

	<update id="permit" parameterType="com.digital.pojo.AddMoney">
		update addMoney 
		set state=#{state}
		where aid=#{aid}
	</update>
	
	<update id="refuse" parameterType="com.digital.pojo.AddMoney">
		update addMoney 
		set state=#{state}
		where aid=#{aid}
	</update>
	

</mapper>