<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">
  
  <!-- Spring的Bean的自动扫描 -->
  <context:component-scan base-package="com.digital"> </context:component-scan>

  <!-- 加载db.properties文件中的内容 -->
  <!-- <context:property-placeholder location="classpath:db.properties" /> -->
     
  <!-- 配置数据源 -->
  <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
     <property name="driverClass" value="com.mysql.jdbc.Driver"></property>
     <property name="jdbcUrl" value="jdbc:mysql://127.0.0.1:3306/test"></property>
     	<!-- useUnicode=true&characterEncoding=utf8&rewriteBatchedStatements=true -->
     <property name="user" value="root"></property>
     <property name="password" value="root"></property>
     <property name="maxPoolSize" value="10"></property>
     <property name="minPoolSize" value="5"></property>
  </bean>
  
  <!--sqlSessionFactory-->
  <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
  	<!-- 数据库连接池 -->
    <property name="dataSource" ref="dataSource"></property>
    <!-- 加载mybatis的全局配置文件 -->
    <property name="mapperLocations" value="classpath:com/digital/mapper/*.xml"></property>
  </bean>
  
  <!-- mapper扫描器 -->
  <bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
  	<!-- 扫描包路径，如果需要扫描多个包，中间使用半角逗号隔开 -->
    <property name="basePackage" value="com.digital.dao"></property>
    <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
  </bean>
  
  <!-- 事务管理器配置,对mybatis操作数据库事务控制，spring使用jdbc的事务控制类 -->
  <bean id="dataSourceTransactionManager" 
  		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
  	<!-- 数据源 -->	
    <property name="dataSource" ref="dataSource"></property>
  </bean>
</beans>
