<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.digital.dao.Shopping_trolleyInfoAddDAO">

	<!-- <select id="getShopping_trolleyInfo" parameterType="int" 
			resultType="com.digital.pojo.Shopping_trolleyInfoAdd">
		select * from shopping_trolley,food
		where uid=#{uid} AND food.fid=shopping_trolley.fid ORDER BY sid ASC
	</select> -->
	
</mapper>
