<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.digital.dao.RestaurantInfoDAO">

	<select id="getRestaurantInfoByBid" parameterType="int" resultType="com.digital.pojo.RestaurantInfo">
		select * from restaurant where bid=#{bid}
	</select>
	
	<select id="selectRestaurantNum" resultType="int">
		select count(rid) from restaurant
	</select> 
	
	<!-- 
	<select id="PageRestaurantInfo" parameterType="com.digital.pojo.Pagination" resultType="com.digital.pojo.RestaurantInfo">
		select * from restaurant limit #{firstRestaurant},#{pageNowSize}
	</select> -->
	
	<!-- 推荐店铺（只会选取前4家餐馆 -->
	<select id="getRrestaurantInfo" resultType="com.digital.pojo.RestaurantInfo">
		select * from restaurant where rrecommendation=1 limit 0,4
	</select>
	
	<!-- 搜索店铺 -->
	<select id="searchRestaurant" parameterType="java.lang.String" resultType="com.digital.pojo.RestaurantInfo">
		select * from restaurant where rname like#{name}
	</select>
	
	<!-- 到店自取 -->
	<select id="selectByArrival" resultType="com.digital.pojo.RestaurantInfo">
		select * from restaurant where arrival=1
	</select>
	
	<!-- 按时间排序 -->
	<select id="selectByMinute" resultType="com.digital.pojo.RestaurantInfo">
		select * from restaurant order by minute asc 
	</select>
	
	<!-- 按评分排序 -->
	<select id="selectByStar" resultType="com.digital.pojo.RestaurantInfo">
		select * from restaurant order by rstar desc 
	</select>
	
	<!-- 按起送价排序 -->
	<select id="selectBySending_fee" resultType="com.digital.pojo.RestaurantInfo">
		select * from restaurant order by sending_fee asc 
	</select>
	
	<!-- 按配送费排序 -->
	<select id="selectByShipping_fee" resultType="com.digital.pojo.RestaurantInfo">
		select * from restaurant order by shipping_fee asc 
	</select>
	
	<!-- 按人均消费高到低排序 -->
	<select id="selectByCpc" resultType="com.digital.pojo.RestaurantInfo">
		select * from restaurant order by cpc desc 
	</select>
	
	<!-- 按人均消费低到高排序 -->
	<select id="selectByCpc1" resultType="com.digital.pojo.RestaurantInfo">
		select * from restaurant order by cpc asc 
	</select>
	
	<!-- 按销量排序 -->
	<select id="selectBySales_volume" resultType="com.digital.pojo.RestaurantInfo">
		select * from restaurant order by rsales_volume desc 
	</select>
	
	<!-- 按距离排序 -->
	<select id="selectByDistance" resultType="com.digital.pojo.RestaurantInfo">
		select * from restaurant order by distance asc 
	</select>
	
	<!-- 完善餐馆的minute和distance信息 -->
	<insert id="updateDisAndMin" parameterType="com.digital.pojo.RestaurantInfo">
		update restaurant set distance=#{distance},minute=#{minute} where rid=#{rid}
	</insert>
	
	<!-- 更行餐馆的rstar信息 -->
	<update id="updateRstar" parameterType="com.digital.pojo.RestaurantInfo">
		update restaurant set rstar=#{rstar} where rid=#{rid}
	</update>
	
	<!-- 更行餐馆的rstar信息 -->
	<update id="updateSalesAndCpc" parameterType="com.digital.pojo.RestaurantInfo">
		update restaurant 
			set rsales_volume=#{rsales_volume},cpc=#{cpc} 
			where rid=#{rid}
	</update>
	
	
	<!-- 以下是后台的5个方法 -->
	<select id="getRestaurantInfoByRid" parameterType="int" resultType="com.digital.pojo.RestaurantInfo">
		select * from restaurant where rid=#{rid}
	</select>
	
	<select id="getRestaurantInfo" resultType="com.digital.pojo.RestaurantInfo">
		select * from restaurant
	</select>
	
	<insert id="addRestaurantInfo" parameterType="com.digital.pojo.RestaurantInfo">
		insert into restaurant(rname,rphoto,rstar,sending_fee,shipping_fee,cpc,arrival,rsales_volume,rcategory,rprepare_time,rvelocity,rx_coordinate,ry_coordinate,rdescription,minute,distance,rrecommendation,bid)
		values(#{rname},#{rphoto},#{rstar},#{sending_fee},#{shipping_fee},#{cpc},#{arrival},#{rsales_volume},#{rcategory},#{rprepare_time},#{rvelocity},#{rx_coordinate},#{ry_coordinate},#{rdescription},#{minute},#{distance},#{rrecommendation},#{bid})
	</insert>
	
	<delete id="deleteRestaurantInfo" parameterType="int">
		delete from restaurant where rid=#{rid}
	</delete>
	
	<update id="updateRestaurantInfo" parameterType="com.digital.pojo.RestaurantInfo">
		update restaurant 
		set rname=#{rname},rphoto=#{rphoto},rstar=#{rstar},sending_fee=#{sending_fee},shipping_fee=#{shipping_fee},cpc=#{cpc},arrival=#{arrival},rsales_volume=#{rsales_volume},rcategory=#{rcategory},rprepare_time=#{rprepare_time},rvelocity=#{rvelocity},rx_coordinate=#{rx_coordinate},ry_coordinate=#{ry_coordinate},rdescription=#{rdescription},minute=#{minute},distance=#{distance},rrecommendation=#{rrecommendation},bid=#{bid}
		where rid=#{rid}
	</update>
	
</mapper>