@CHARSET "UTF-8";
.main {
    width: 1170px;
    margin: 20px auto 0;
        margin-top: 20px;
    margin-top: 10px;
    position: relative;
}
.main .main-l {
    width: 860px;
    float: left;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block;
}
.order-info {
	height: 700px;
}
.order-menu {
    width: 210px;
    height: 530px;
    display: inline-block;
}
.order-list {
    width: 936px;
    height: 530px;
    display: inline-block;
}
.order-list .order-list-eachLine {
    width: 935.2px;
    height: 129.8px;
    display: inline-block;
    background: #fafafa;
}
.order-info .order-list .order-list-eachLine p{
	margin: 10px 0 0 20px;
	font-size: 20px;
}
.order-list .order-list-eachLine .order-list-img{
    width: 23%;
    height: 129.8px;
    display: inline-block;
    float: left;
    /* border: 1px solid black; */
    text-align: center;
}
.order-list .order-list-eachLine .order-list-img .info{
	margin-top: 5px;
}
.order-list .order-list-eachLine .order-list-info{
    width: 59%;
    height: 129.8px;
    display: inline-block;
    float: left;
    /* border: 1px solid black; */
    text-align: center;
}
.order-list .order-list-eachLine .order-list-info .info{
	margin-top: 30px;
}
.order-list .order-list-eachLine .order-list-last{
    width: 18%;
    height: 129.8px;
    line-height: 27px;
    display: inline-block;
    float: left;
    /* border: 1px solid black; */
    vertical-align: middle;
    text-align: center;
}
.order-list .order-list-eachLine .order-list-last .info{
	margin-top: 37px;
}
.order-list .order-list-eachLine .order-list-last .info > a{
	color: black;
	font-weight: normal;
}
.order-list .order-list-eachLine .order-list-last .info .button{
	width: 84.8px;
	height: 31.8px;
	text-align: center;
}
.order-menu .order-menu-pos {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 18%;
    background: #fafafa;
    height: 700px;
}
.order-menu .order-menu-header {
    height: 60px;
    line-height: 60px;
    font-size: 1.4em;
    padding: 0 20px;
    position: relative;
}
.order-menu .splitter {
    margin: 0 20px;
    border-bottom: 1px solid #e5e5e5;
}
.order-menu .order-menu-body {
    padding: 10px 0 50px;
}
.order-menu .order-menu-body .menu-item {
    height: 35px;
    line-height: 35px;
    padding: 0 20px;
    position: relative;
}
.order-menu .order-menu-body .order-icon {
    background-image: url("../../img/other/order.png");
}
.order-menu .order-menu-body .evaluation-icon {
    background-image: url("../../img/other/evaluation.png");
}
.order-menu .order-menu-body .send-icon {
    background-image: url("../../img/other/send.png");
}
.order-menu .order-menu-body .menu-icon {
    display: inline-block;
    width: 24px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: left center;
    vertical-align: text-bottom;
}
/* .order-menu .selected::before {
    content: ' ';
    width: 2px;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    background: #3399cc;
} */
.order-menu .order-menu-body a {
    color: #333;
    font-size: 1em;
    width: 75%;
    font-weight: normal;
    display: inline-block;
}
.order-menu .order-menu-body .favorite-icon {
    background-image: url("../../img/other/collection.png");
}
.order-menu .order-menu-body .refund-icon {
    background-image: url("../../img/other/tuikuan.png");
}
.order-menu .order-menu-body .payment-icon {
    background-image: url("../../img/other/payment.png");
}
.usercenter-detail {
    display: inline-block;
    vertical-align: top;
    width: 80%;
    height: 720px;
    float: right;
}
.usercenter-detail .summary {
    border-bottom: 1px solid #efefef;
    height: 60px;
    line-height: 60px;
}
.usercenter-detail .summary .summary-header {
    display: inline-block;
    font-size: 1.4em;
    font-weight: 400;
}
.usercenter-detail .summary .summary-info {
    display: inline-block;
    float: right;
}
.usercenter-detail .header-selected {
    color: #f0142d !important;
}
.usercenter-detail .summary .summary-info span {
    color: #ccc;
    padding: 0 5px;
}
.usercenter-detail .cms-charlink {
    float: left;
    color: #F0142D;
    font-size: 13.2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 280px;
    text-align: left;
    margin: 10px 0 0;
}
.income-detail {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 450px;
    float: right;
}
.income-detail .summary {
    border-bottom: 1px solid #efefef;
    height: 60px;
    line-height: 60px;
}
.income-detail .cms-charlink {
    float: left;
    color: #F0142D;
    font-size: 13.2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 280px;  /* 可能要改 */
    text-align: left;
    margin: 10px 0 0;
}
.income-detail .order-info {
    height: 330px;
}
.income-detail .order-list {
	width: 100%;
    height: 300px;
    display: inline-block;
}
.income-detail .order-list .order-list-eachLine {
    width: 100%;
    height: 300px;
    display: inline-block;
    background: #fafafa;
}
.income-detail .sorting{
	float: left;
	width: 150px;
	height: 37px;
	margin-left: 10px;
}
.income-detail .summary .searchIncome a {
	padding: 10px 30px;
	color: #fff;
	font-size: 1em;
	background: #fe9126;
	text-decoration: none;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
	/* margin-left: 10px; */
	font-weight: 700;
	line-height: 1.42857143;
}
select#selectYear, select#selectMonth, select#selectDay{
	border: 1px solid #212121;
	outline: none;
	font-size: 14px;
	color: #212121;
	padding: 0.5em;
	width: 150px;
	cursor: pointer;
}
.fa fa-arrow-right
元素 {
    display: block;
    margin: auto;
}
.order-notice {
    text-align: center;
    color: #999;
    font-size: 1.5em;
    padding: 0 0 50px;
}
.pagination {
    text-align: center;
}
.usercenter-detail .callCenter {
    position: fixed;
    _position: absolute;
    display: block;
    right: 50%;
    bottom: 100px;
    margin-right: -575px;
    outline: 0;
    text-indent: -9999px;
}
.hide {
    display: none;
}
.knightCover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    -ms-filter: alpha(Opacity=50);
    filter: alpha(opacity=50);
    -moz-opacity: .5;
    -khtml-opacity: .5;
    opacity: .5;
    z-index: 900;
}
.knightDisplay {
    -moz-border-radius: 3px;
    border-radius: 3px;
    z-index: 901;
    position: fixed;
    background: #fff;
}
.knightDisplay .knightTitle {
    position: relative;
}
.knightDisplay .knightTitle span {
    position: absolute;
    font-size: 25px;
    color: #919191;
    top: 12px;
    right: 20px;
    cursor: pointer;
}
.knightDisplay .knightLocationBig {
    position: relative;
    width: 815px;
    height: 495px;
}
.knightDisplay .knightLocationBig .knightRefresh {
    -moz-border-radius: 3px;
    border-radius: 3px;
    z-index: 1;
    position: absolute;
    background: red;
    bottom: 10px;
    right: 15px;
    padding: 8px 30px;
    color: #fff;
}
.knightDisplay .knightLocationBig .knightBigMap {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#baiducopy .footer-items {
    padding: 18px 0;
    width: 980px;
    margin: auto;
    border-bottom: 1px solid #eee;
}
.comment-list .list {
    width: 100%;
    padding: 10px 0 20px;
    border-bottom: 1px solid #e4e4e4;
}
.comment-list .top-section {
    font-size: 12px;
    color: #999;
    font-weight: 400;
    text-decoration: none;
}
.comment-list .top-section .user-name {
    margin: 0 4px 0 0;
}
.rate {
    /* background: url("../images/star.png") no-repeat scroll transparent; */
    /* color: #F70600; */
    display: inline-block;
    font-weight: 700;
    height: 16px;
    overflow: hidden;
    width: 80px;
    vertical-align: -1px;
}
.rate .rate-inner {
   /*  background: url("../images/star1.png") no-repeat scroll transparent; */
    display: inline-block;
    height: 16px;
    width: 80px;
    vertical-align: top;
}
.comment-list .fr {
    float: right;
}
.comment-list .mid-section {
    font-size: 14px;
    color: #333;
    font-weight: 400;
    text-decoration: none;
    word-wrap: break-word;
    word-break: break-all;
}
.comment-list .mid-section p {
    padding: 14px 0;
}
.clearfix::after {
    clear: both;
}
.clearfix::after, .clearfix::before {
    display: table;
    content: "";
}
.comment-list .more-comment {
    text-align: center;
}
.comment-list .pagination {
    text-align: center;
}
.review_content{
	line-height: 50px;
	font-size: normal;
	font-weight: normal;
}
.review_radio{
	line-height: 50px;
	font-weight: normal;
}
.commentfilter {
    background-color: #fafafa;
    position: relative;
    color: #666;
    border-bottom: 1px solid #eee;
    height: 43px;
}
.commentfilter-item {
    float: left;
    height: 43px;
    line-height: 39px;
    padding: 0 25px;
    min-width: 115px;
    border-right: 1px solid #eee;
    border-top: 3px solid transparent;
    color: #333;
    text-align: center;
    cursor: pointer;
    font-weight: normal;
}
.commentfilter-item.active {
    border-top: 3px solid #0089dc;
    border-bottom-color: #fff;
    background-color: #fff;
    color: #0089dc;
}
.commentbox {
    background-color: #fff;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}
.main .side {
    width: 270px;
    float: right;
    overflow: hidden;
    font-size: 13px;
}
.comside .overall {
    color: #999;
}
.comside .overall .title {
    font-size: 14px;
    color: #333;
    font-weight: 400;
    text-decoration: none;
    border-bottom: 1px solid #e4e4e4;
    padding: 13px 0;
}
.comside .overall {
    color: #3399cc;
}
.comside .rate-info {
    overflow: hidden;
    width: 270px;
    height: 63px;
}
.comside .overall .rate-num {
    color: #3399cc;
    font-size: 45px;
    font-family: Arial,Helvetica,sans-serif;
    float: left;
    margin: 0 12px 0 0;
}
.comside .overall p.pos {
    padding: 12px 0 6px;
}
.comside .rate-table {
    color: #999;
    width: 220px;
    height: 160px;
    border-collapse: collapse;
	border-spacing: 0;
	margin-top: 0px;
	margin-left: 0px;	
	font-size: 12px;
}
.comside .rate-table .pnum {
    background: #fff1f3;
    display: inline-block;
    height: 10px;
    overflow: hidden;
    width: 64px;
    vertical-align: -1px;
    *vertical-align: 2px;
    width: 140px;
}
.comside .rate-table .pnum .pnum-inner {
    background: #3399cc;
    display: inline-block;
    height: 11px;
    vertical-align: top;
}
.headInfo{
	float: right;
	width: 35%;
	text-align: center;
	margin-top: -8px;
	margin-left:-250px;
}
.header-right{
	float: right;
	width: 40%;
	/* margin-right: -130px; */
	text-align: center;
	padding: 9px 0;
}
.header-right ul li{
	display: inline-block;
	padding: 0em 1em;
}
.header-right a{ 
	font-size: 1em;
	text-transform: capitalize;
	color: #fff;
	text-decoration: none;
}
.agile-login .sorting{
	float: right;
	width: 35%;
	font
}
.headInfo  select {
    /* border: 1px solid #212121; */
    border: 0;
    background: #333333;
    outline: none;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    padding: 0.5em;
    width: 100%;
    cursor: pointer;
}
.user_info {
    position: relative;
    z-index: 1;
    right: 0;
    top: 8px;
    float: right;
	/* margin-left:-250px; */
    z-index: 10;
    zoom: 1;
    text-align: right;
    font: 12px Arial;
    line-height: normal;
    font-family: Arial;
    color: #000;
    line-height: 18px;
    font-family: "Microsoft Yahei UI","Microsoft YaHei",Helvetica,Arial,sans-serif;
    /* margin-right: 250px; */
    margin-top: 6px;
}
.user_info ul {
    list-style-type: none;
}
.user_info .login_info li.uname {
    height: 35px;
    line-height: 35px;
}
.user_info .mn-lk-w {
    position: relative;
    z-index: 1;
	margin-top: -21px;
	display: inline;
	padding: 0;
}
.user_info li {
    float: left;
}
.mn-tip .mn li {
	float: left;
	width: 100%;
	white-space: nowrap;
}
.user_info .mn-lk {
    padding-right: 15px;
    background: url("../../img/other/arrow.png") no-repeat right 6px;
    height: 6px;
    font-size: 14px;
}
.user_info a {
    color: #fff;
    text-decoration: none;
    display: inline;
    padding-left: 18px;
}
.login_user_info {
    position: relative;
    z-index: 1;
}
.mn-tip {
	display: none;
    position: absolute;
    z-index: -1;
    font-weight: normal;
    top: 35px;
    top: 36px\0;
    *top: 36px;
    left: 23px;
    background: #fff;
    border: 1;
    /* font-weight: 400; */
    box-shadow: 1px 1px 2px #ccc;
    -moz-box-shadow: 1px 1px 2px #ccc;
    -webkit-box-shadow: 1px 1px 2px #ccc;
    text-align: left;
    color: #888;
    width: 120px;
    /* visibility: hidden; */
}
.login_user_info:hover .mn-tip {
	display: table-cell;
}
.user_info .mn-tip .top-arrow {
    width: 0;
    height: 0;
    border-color: transparent;
        border-bottom-color: transparent;
    border-style: dashed;
        border-bottom-style: dashed;
    overflow: hidden;
    border-width: 8px;
        border-top-width: 8px;
    border-top-width: 0;
    border-bottom-style: solid;
    border-bottom-color: #fff;
    position: absolute;
    top: -8px;
    right: 56px;
}
.user_info .mn-tip .mn .my-info {
    border-bottom: 1px solid #ebebeb;
}
.user_info .mn-tip .mn a {
    color: #333;
    font-size: 13px;
    font-weight: 400;
    display: block;
    zoom: 1;
    padding: 3px 6px 3px 20px;
    *padding: 4px 6px 2px 20px;
    text-decoration: none;
}
.user_info .mn-tip a {
    margin-left: 0;
}
.layui-layer-content .table-bordered {
    border: 1px solid #ddd;
    border-bottom: 0;
    border-collapse: separate;
    width: 100%;
	empty-cells: show;
	background-color: transparent;
	/* border-collapse: collapse; */
	border-spacing: 0;
	word-wrap: break-word;
	font-size: 14px;
	color: #333;
	margin: 0;
}
.table-bordered .text-c {
    text-align: center;
}