<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.digital.dao.BossInfoDAO">

	<select id="getBossInfoByCode" parameterType="com.digital.pojo.BossInfo" 
			resultType="com.digital.pojo.BossInfo">
		select * from boss where busername=#{busername} and bpassword=#{bpassword}
	</select>

	<select id="getBossInfoByBid" parameterType="int" 
			resultType="com.digital.pojo.BossInfo">
		select * from boss where bid=#{bid}
	</select>

</mapper>