<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>database.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>database.RegisterServlet</servlet-class>
  </servlet>
 
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Reader</servlet-name>
    <servlet-class>Servlet.Reader</servlet-class>
  </servlet>

  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Reader_query</servlet-name>
    <servlet-class>Servlet.Reader_query</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Reader_add</servlet-name>
    <servlet-class>Servlet.Reader_add</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Reader_change</servlet-name>
    <servlet-class>Servlet.Reader_change</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Reader_delete</servlet-name>
    <servlet-class>Servlet.Reader_delete</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Novel_add</servlet-name>
    <servlet-class>NovelServlet.Novel_add</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Novel_delete</servlet-name>
    <servlet-class>NovelServlet.Novel_delete</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Novel_query</servlet-name>
    <servlet-class>NovelServlet.Novel_query</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Author_add</servlet-name>
    <servlet-class>AuthorServlet.Author_add</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Author_change</servlet-name>
    <servlet-class>AuthorServlet.Author_change</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Author_delete</servlet-name>
    <servlet-class>AuthorServlet.Author_delete</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Author_query</servlet-name>
    <servlet-class>AuthorServlet.Author_query</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Download_list</servlet-name>
    <servlet-class>Download_list.Download_list</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Download_add</servlet-name>
    <servlet-class>DownloadServlet.Download_add</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Download_delete</servlet-name>
    <servlet-class>DownloadServlet.Download_delete</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Download_query</servlet-name>
    <servlet-class>DownloadServlet.Download_query</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Reader_Author_query</servlet-name>
    <servlet-class>Reader_authority_Servlet.Reader_Author_query</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Reader_Novel_query</servlet-name>
    <servlet-class>Reader_authority_Servlet.Reader_Novel_query</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Reader_Reader_query</servlet-name>
    <servlet-class>Reader_authority_Servlet.Reader_Reader_query</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Reader_Download_query</servlet-name>
    <servlet-class>Reader_authority_Servlet.Reader_Download_query</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Analysis</servlet-name>
    <servlet-class>Analysis.Analysis</servlet-class>
  </servlet>








  























  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Reader</servlet-name>
    <url-pattern>/Reader</url-pattern>
  </servlet-mapping>
 
  <servlet-mapping>
    <servlet-name>Reader_query</servlet-name>
    <url-pattern>/Reader_query</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Reader_add</servlet-name>
    <url-pattern>/Reader_add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Reader_change</servlet-name>
    <url-pattern>/Reader_change</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Reader_delete</servlet-name>
    <url-pattern>/Reader_delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Novel_add</servlet-name>
    <url-pattern>/Novel_add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Novel_delete</servlet-name>
    <url-pattern>/Novel_delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Novel_query</servlet-name>
    <url-pattern>/Novel_query</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Author_add</servlet-name>
    <url-pattern>/Author_add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Author_change</servlet-name>
    <url-pattern>/Author_change</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Author_delete</servlet-name>
    <url-pattern>/Author_delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Author_query</servlet-name>
    <url-pattern>/Author_query</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Download_list</servlet-name>
    <url-pattern>/Download_list</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Download_add</servlet-name>
    <url-pattern>/Download_add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Download_delete</servlet-name>
    <url-pattern>/Download_delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Download_query</servlet-name>
    <url-pattern>/Download_query</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Reader_Author_query</servlet-name>
    <url-pattern>/Reader_Author_query</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Reader_Novel_query</servlet-name>
    <url-pattern>/Reader_Novel_query</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Reader_Reader_query</servlet-name>
    <url-pattern>/Reader_Reader_query</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Reader_Download_query</servlet-name>
    <url-pattern>/Reader_Download_query</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Analysis</servlet-name>
    <url-pattern>/Analysis</url-pattern>
  </servlet-mapping>
 
 
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
